.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px dotted white;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(1);
    }

    50% {
        transform: rotate(350deg) scale(1.7);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}