.myBtn {
  height: 35px;
  color: rgba(136, 136, 136, 1.00);
  background: rgba(35, 35, 35, 1.00);
  cursor: pointer;
  border: none;
  font-family: Verdana, Geneva, sans-serif;
  transform: scale(1);
  transition: transform 0.1s linear;

}

.myBtn:not(:disabled):hover {
  color: rgba(169, 169, 169, 1.00);
  background: rgba(41, 41, 41, 1.00);
}

.transformed {
  transform: scale(0.9);
}